body{
	background-image: url(foto del color.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
     }
	
.nombre{
		color: ;
		font-size: tamaño px;
}
.nombre{
	color: ;
}
.nombre{
	color: ;
	font-size: tamaño px;
}
.nombre{
	color: ;
	font-size: tamaño px;
}
.nombre{
color: darkblue;
font-size: tamaño px;
}